/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Pacifico');*/

body {
	background-color: #D3D3D3;
}

nav {
	display: block;
	height: 75px;
}

#top-navigation {
	height: 75px;
}

nav #top-navigation img {
	display: inline-block;
	height: 40px;
	width: auto;
	margin-top: 10px;
	float: left;
	margin-left: 3%;
}

nav #top-navigation span {
	font-size: 25px;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	color: #FF69B4;
	margin-top: 10px;
	float: left;
}

nav #top-navigation #active {
	list-style: none;
	height: 30px;
	margin-top: 30px;
	text-align: right;
	display: inline-block;
	float: right;
}

nav #top-navigation #active li {
	display: inline-block;
	margin-right: 50px;
} 

nav #top-navigation #active li a {
	text-decoration: none;
	font-size: 18px;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

hr {
	background-color: black;
	height: 2px;
    width: 95%;
	margin: 0 auto;
}

.hello {
	display: block;
	text-align: center;
	margin-top: 5px;
}

.hello p {
	font-family: 'Noto Sans', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
}

.hello span {
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #FF69B4;
}

.hello .banner {
    border-radius: 20px;
    height: 300px;
    width: 1570px;
    overflow: hidden;
    background-image: url('../images/sunset-rocks.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 5px;
}

.work-left {
	float: left;
	display: inline-block;
    width: 45%;
    margin-left: 40px;
    margin-top: 5px;
}

.work-right {
	float: right;
    display: inline-block;
    width: 45%;
    margin-right: 40px;
    margin-top: 5px;
}

.work-left h2, .work-right h2 {
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #FF69B4;
}

.work-left p, .work-right p {
	font-size: 15px;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
}

.squares {
    width: 1340px;
    text-align: center;
    margin: 0 auto;
}

.mainbox {
    padding: 15px;
    display: inline-block;
}

.boxes {
    border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 233px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.text {
    background-color: white;
    position: relative;
    height: 50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 233px;
    top: -18px;
}

.stormy {
    background-image: url('../images/lightening.jpeg');
}

.racing {
    background-image: url('../images/racingcapetown.jpeg');
}

.deer {
    background-image: url('../images/africa.jpeg');
}

.lazy {
    background-image: url('../images/lazydays.jpeg');
}

.wire {
    background-image: url('../images/barbedwire.jpeg');
}

.sports {
    background-image: url('../images/sports.jpeg');
}

.colorblast {
    background-image: url('../images/colorblast.jpeg');
}


.gates {
    background-image: url('../images/gates.jpeg');
}

.winter {
    background-image: url('../images/winter.jpeg');
}


.fire {
    background-image: url('../images/fire.jpeg');
}


.common {
	color: black;
    text-align: center;
    line-height: 25px;
    font-family: 'Noto Sans', sans-serif;
}

.same {
	font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    top: -17px;
    position: relative;	
}

.blurb p {
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #FF69B4;
	display: block;
	text-align: center;
}

.foot {
    margin-top: 20px;
    background-color: #000000;
    width: 100%;
    height: 250px;
}


.contact {
    display: inline-block;
    width: 950px;
    margin: 0 auto;
}

.contact h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #FF69B4;
    margin-left: 20px;
}

input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: black;
    display: block;
    margin-left: 20px;
    width: 450px;
}

textarea {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 20px;
    width: 450px;
}


button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #FF69B4;
    display: block;
    margin-left: 25px;
    margin-top: 15px;
    width: 85px;
    border-radius: 10px;
    cursor: pointer;
}


.social {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;   
    padding-left: 120px;
    text-align: right;
}

.social a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #FF69B4;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
}


.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated3 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media(max-width: 1325px){
    .social {
        display: block;
        margin: 0px;
        padding: 0px;
        text-align: none;
        width: 0px;
    }
}

@media(max-width: 1261px){
    .hello {
        display: block;
        margin: 0px;
    }
}

@media(max-width: 1082px){
    .squares{
        display: block;
        margin: 0px;
    }
}
