@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Pacifico');

/*font-family: 'Pacifico', cursive;
font-family: 'Noto Sans', sans-serif;*/

/** {
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
}*/


body {
	background-color: #D3D3D3;
}

nav {
	display: block;
	height: 75px;
}

#top-navigation {
	height: 75px;
}

nav #top-navigation img {
	display: inline-block;
	height: 40px;
	width: auto;
	margin-top: 10px;
	float: left;
	margin-left: 3%;
}

nav #top-navigation span {
	font-size: 25px;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	color: #FF69B4;
	margin-top: 10px;
	float: left;
}

nav #top-navigation #active {
	list-style: none;
	height: 30px;
	margin-top: 30px;
	text-align: right;
	display: inline-block;
	float: right;
}

nav #top-navigation #active li {
	display: inline-block;
	margin-right: 50px;
} 

nav #top-navigation #active li a {
	text-decoration: none;
	font-size: 18px;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

hr {
	background-color: black;
	height: 2px;
    width: 95%;
	margin: 0 auto;
}

.hello {
	display: block;
	text-align: center;
	margin-top: 5px;
}

.hello p {
	font-family: 'Noto Sans', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
}

.hello span {
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #FF69B4;
}

.hello .banner {
	border-radius: 20px;
	height: 250px;
	width: 85%;
	overflow: hidden;
	background-image: url("../images/sunset-rocks.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	margin-top: 5px;
}

.work-left {
	float: left;
	display: inline-block;
    width: 45%;
    margin-left: 40px;
    margin-top: 5px;
}

.work-right {
	float: right;
    display: inline-block;
    width: 45%;
    margin-right: 40px;
    margin-top: 5px;
}

.work-left h2, .work-right h2 {
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #FF69B4;
}

.work-left p, .work-right p {
	font-size: 15px;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
}

/*.gallery {
	display: inline-block;

}*/


.squares-top .stormy {
    border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url(../images/lightening.jpeg);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}

.stormytext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 23px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}

.squares-top .racing {
    border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url(../images/racingcapetown.jpeg);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}

.racingtext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 23px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-top .deer {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;       
    width: 70%;
    overflow: hidden;
    background-image: url("../images/africa.jpeg");
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}

.deertext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 23px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-top .lazy {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;   
    width: 70%;
    overflow: hidden;
    background-image: url("../images/lazydays.jpeg");
    background-size: cover;
    background-position: right center;
    margin-left: 20px;
}

.lazytext {
	background-color: white;
    position: relative;
    height: 50px;
    margin-left: 23px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;	
}

.squares-top .wire {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url("../images/barbedwire.jpeg");
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}

.wiretext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 23px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-bottom .sports {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url("../images/sports.jpeg");
    background-size: cover;
    background-position: right center;
}

.sportstext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-bottom .colorblast {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url("../images/colorblast.jpeg");
    background-size: cover;
    background-position: center;
}

.colorblasttext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-bottom .gates {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url("../images/gates.jpeg");
    background-size: cover;
    background-position: center;
}

.gatestext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-bottom .winter {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url("../images/winter.jpeg");
    background-size: cover;
    background-position: center;
}

.wintertext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}


.squares-bottom .fire {
	border-top-left-radius: 15px;
    height: 140px;
    border-top-right-radius: 15px;
    width: 70%;
    overflow: hidden;
    background-image: url(../images/fire.jpeg);
    background-size: cover;
    background-position: center;
}

.firetext {
    background-color: white;
    position: relative;
    height: 50px;
    margin-left: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    top: -18px;
    left: -3px;
}

.common {
	color: black;
    text-align: center;
    line-height: 25px;
    font-family: 'Noto Sans', sans-serif;
}

.same {
	font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    top: -17px;
    position: relative;	
}

.gallery-left {
    float: left;
    width: 20%;
    display: block;
}

.gallery-right {
    float: right;
    width: 20%;
}

.gallery-left:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-right:after {
    content: "";
    display: table;
    clear: both;
}

.blurb p {
    margin-top: 95px;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #FF69B4;
	display: block;
	text-align: center;
}

.social {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-top: 10px;
    text-align: right;
}

.social a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #FF69B4;
    padding: 18px;
    margin-right: 5px;
    cursor: pointer;
}

.contact {
    display: inline-block;
    width: 48%;
}

.contact h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #FF69B4;
    margin-left: 10px;
}

input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: black;
    display: block;
    margin-left: 10px;
    width: 50%;
}


button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #FF69B4;
    display: block;
    margin-left: 10px;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
    margin: 12px;   
}

textarea {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    width: 50%;
}


.foot {
    margin-top: 20px;
    background-color: #000000;
    width: 100%;
}